# Lesson 6
- Dictionaries & Sets
- Dictionaires: unordered collections of key-value pairs
- Sets: unordered collections of unique values
- views: a way to look into an existing dictionary and its data
- set operations
- in and not in for membership testing!
- mutable set operations
- dictionary and set comprehensions
- dynamic visualization (die rolling but dynamic)

- keys must be a immutable data type, values tied to the keys can be mutable or immutable

In [1]:
#defining a dictionary

country_codes = {'Finland': 'fi', 'South Africa': 'za'}

country_codes

{'Finland': 'fi', 'South Africa': 'za'}

In [3]:
#counts pairs, not each value, # of keys!

len(country_codes)

2

In [5]:
#anything can be used as a condition!

if country_codes:
    print('is not empty')
else:
    print('is empty')

is not empty

In [6]:
country_codes.clear()

country_codes

{}

In [8]:
#6.2.1 Self Check, create didctionary named states that maps three state abbreviations to their state names, then display it!

states = {'Connecticut':'ct','Florida':'fl','New York':'ny'}
print(len(states))
states

3

{'Connecticut': 'ct', 'Florida': 'fl', 'New York': 'ny'}

In [12]:
#iterating through the key-value pairs in a dictionary!

days_per_month = {'January':31, 'February':28, 'March':31}
print(days_per_month)

for month, days in days_per_month.items():
    print(f'{month} has {days} days')
    
# ordering of disctionaries changes between Python versions, never depend on dictionary orderings!!

{'January': 31, 'February': 28, 'March': 31}
January has 31 days
February has 28 days
March has 31 days

In [13]:
#basic dictionary operations

roman_numerals = {'I':1, 'II':2, 'III':3}

roman_numerals['II']

2

In [17]:
#can change values like lists!

roman_numerals['III'] = 'three'
roman_numerals

{'I': 1, 'II': 2, 'III': 'three', 'V': 5}

In [18]:
#can add new key-value pairs by adding new key and setting it to new value, appends to end of dictionary!

roman_numerals['V'] = 5
roman_numerals

{'I': 1, 'II': 2, 'III': 'three', 'V': 5}

In [19]:
#remove item in dictionary, tkaes key

del roman_numerals['III']
roman_numerals

{'I': 1, 'II': 2, 'V': 5}

In [20]:
#can also remove using pop, also returns value that was popped

roman_numerals.pop('V')

5

- you will get a key error if you try to access a value from a key that doesn't exist!

In [21]:
roman_numerals.get('I')

1

In [23]:
# we removed 'III' before, so get() lets us return a message if value/key missing!

roman_numerals.get('III', 'III is not in the dictionary')

'III is not in the dictionary'

In [24]:
'V' in roman_numerals

False

In [25]:
'I' in roman_numerals

True

In [26]:
'I' not in roman_numerals

False

- 'in' checks membership for keys!
- 'not in' checks opposite of the in check

In [28]:
#6.2.3 Self Check, check case sensitivity in dictionaries by adding key 'x' with value 10 to a dictionary that has a key 'X' with value 20

example_dict = {'X':20,'y':5,'Y':10}
example_dict['x'] = 10
example_dict

# keys are case sensitive!! 'x' wont change 'X''s value, it will append new key-value pair 'x'

{'X': 20, 'y': 5, 'Y': 10, 'x': 10}

In [38]:
# dictionary keys & values

months = {'January':1, 'February':2, 'March':3}

for key in months.keys():
    print(key, end=' ')
    
print('\n')

for item in months.items():
    print(item, end=' ')
    
print('\n')

for value in months.values():
    print(value, end=' ')
    

# methods to get keys, values, or items from a dictionary!
# each method returns a dictionary view, each is just a view of the original dictionary!

January February March

('January', 1) ('February', 2) ('March', 3)

1 2 3

In [40]:
# getting the keys as a seperate view

months_view = months.keys()

for key in months_view:
    print(key, end=' ')

January February March

In [41]:
months['December'] = 12
months

{'January': 1, 'February': 2, 'March': 3, 'December': 12}

In [43]:
for key in months_view:
    print(key, end=' ')
    
#even though months_view was made before we added a new item into the dictionary, it is still updated
#months_view is a view of a current existing dictionary, changes to original dict will show!

January February March December

In [44]:
list(months.values())

[1, 2, 3, 12]

In [45]:
list(months.items())

[('January', 1), ('February', 2), ('March', 3), ('December', 12)]

In [48]:
#iterating keys in sorted order

for month_name in sorted(months.keys()):
    print(month_name, end=' ')
    
#if using sorted() with strings, it sorts lexicographically!!

December February January March

In [51]:
#self check 6.2.4, given roman_numerals dictionary, make views of the items, values & keys and display them!

roman_numerals = {'I':1, 'II':2, 'III':3, 'V':5}

roman_items = list(roman_numerals.items())
roman_values = list(roman_numerals.values())
roman_keys = list(roman_numerals.keys())

print(roman_items)
print(roman_values)
print(roman_keys)

#items is a list of tuples!

[('I', 1), ('II', 2), ('III', 3), ('V', 5)]
[1, 2, 3, 5]
['I', 'II', 'III', 'V']

In [53]:
# dictionary comparisons
#operator overloading, redefining how operators work!

country_capitals1 = {'Belgium':'Brussels', 'Haiti':'Port-au-Prince'}
country_capitals2 = {'Nepal':'Kathmandu', 'Uruguay':'Montevideo'}
country_capitals3 = {'Haiti':'Port-au-Prince', 'Belgium':'Brussels'}

country_capitals1 == country_capitals2

False

In [55]:
country_capitals1 == country_capitals3

#true despite the different order

True

In [56]:
country_capitals1 != country_capitals2

True

In [59]:
#script example that processes student grades!
"' Using a dictionary to represent an instructors grade book '" 

grade_book = {
    'Susan': [92, 85, 100],
    'Eduardo': [83, 95, 79],
    'Azizi': [91, 89, 82],
    'Pantipa': [97, 91, 92]
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)
    
print(f"Class's average is: {all_grades_total / all_grades_count:.2f}")


#script with docstring (dont forget these), has doctionary of students and we report their average grades with total average!

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Pantipa is 93.33
Class's average is: 89.67

In [66]:
#script that does word counts!
#this technique was used as evidence to prove if shakespear wrote his plays, comapred word %'s to other writers of the time!
""" Tokenizing a string and counting unique words."""

text = ('this is sample text with several words '
        'this is more sample text with some different words')

word_counts = {}

#count occurences of each unique word
for word in text.split():
    if word in word_counts:
        word_counts[word] += 1     # update existing key-value pairs
    else:
        word_counts[word] = 1      # insert new key-value pair

print(f'{"WORD":<12}COUNT')        # left-aligned in a field of 12

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')
    
print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique words: 10

- summarizing word counts is common enough for a seperate Python class/library!
- Python collections module has a type for this
- collections module has many special collection types for us to use! Counter class is able to count hashable objects
- can use the Counter class to perform the same work we did right above to count the words!

In [67]:
# Counter class example:

from collections import Counter

text = ('this is sample text with several words '
        'this is more sample text with some different words')

#text.split()

counter = Counter(text.split())

print(f'{"WORD":<12}COUNT') 
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')
    
    
#Counter objects are still dictionaries! They simply count word occurences automatically as the value!

WORD        COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

In [68]:
print('Number of unique keys:', len(counter.keys()))

Number of unique keys: 10

In [74]:
#self check 6.2.7, use list comprehension to make list of 50 random numbers in range 1-5, then summarize them using Counter.

import random
numbers = [random.randrange(1, 6) for i in range(50)]    #list comprehension, 50 numbers in range 1-5
from collections import Counter
counter = Counter(numbers)                               #Counter class takes list and makes it a dictionary with occurences as the values & list items as keys
print(f'{"Range":<10}Occurence')
for value, count in sorted(counter.items()):
    print(f'{value:<10}{count}')

Range     Occurence
1         13
2         8
3         10
4         8
5         11

In [75]:
#dictionary update method!

country_codes = {}

country_codes.update({'South Africa': 'za'})
country_codes

{'South Africa': 'za'}

In [77]:
#update will also take expressions and automatically make them a key-value pair!

country_codes.update(Australia='ar')         #can list expressions in this format to add several new items! (or full list!)
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [78]:
#will also update existing keys/values!

country_codes.update(Australia='au')         #can list expressions in this format to add several new items! (or full list!)
country_codes

{'South Africa': 'za', 'Australia': 'au'}

In [81]:
# dictionary comprehensions! Creating new dictionaries from existing ones in a simple way!

months = {'January':1, 'February':2, 'March':3}
months2 = {number: name for name, number in months.items()}       # dictionary comprehension uses curly braces instead of square brackets!

months2

# we reversed the keys and values using dictionary comprehension!

{1: 'January', 2: 'February', 3: 'March'}

In [82]:
grades = {'Sue':[98, 87, 94], 'Bob':[84,95,91]}
grades2 = {k: sum(v) / len(v) for k, v in grades.items()}

grades2

{'Sue': 93.0, 'Bob': 90.0}

In [87]:
#self check 6.2.9, use dict-comprehension to create dictionary of numbers 1-5 and their cubes

cubed_dict = {number: number ** 3 for number in range(1,6)}
cubed_dict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [89]:
#set collection in python! Unordered, used to determine membership

colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}
colors

# gets rid of duplications! only one resulting red in set

{'blue', 'green', 'orange', 'red', 'yellow'}

In [90]:
len(colors)

5

In [91]:
'red' in colors

True

In [92]:
'purple' in colors

False

In [93]:
'purple' not in colors

True

In [94]:
for color in colors:
    print(color.upper(), end=' ')

GREEN BLUE YELLOW RED ORANGE

In [95]:
#can create sets using built-in function set()

numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [97]:
set(numbers)

#rids the duplicates in numbers!

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
set()

#empty set, dictionaries use {} for their empty list! so we need the function for empty sets

set()

- sets are mutable, their values can be changed!
- frozen sets are sets that are immutable, whos values can never be changed
- frozen sets are good as lists of keys as keys are immutable and unique!

In [100]:
#self check 6.3, use the given string and split it into tokens, then place those tokens into a set! Display set in sorted order!

string = 'to be or not to be that is the question'
split_string = string.split()
set_string = set(split_string)
sorted(set_string)

['be', 'is', 'not', 'or', 'question', 'that', 'the', 'to']

In [101]:
#comparing sets!

{1, 3, 5} == {3, 5, 1}

True

In [102]:
{1, 3, 5} != {3, 5, 1}

False

In [103]:
#checking for proper subset, set on left contains values in set of right but not all

{1, 3, 5} < {3, 5, 1}

False

In [105]:
{1, 3, 5} < {7, 3, 5, 1}
#this is a proper subset!

True

In [106]:
{1, 3, 5} <= {3, 5, 1}

True

In [107]:
{3, 5} <= {3, 5, 1}

True

In [110]:
#invoking methods on a literal object!

{1,3,5}.issubset({3,5,1})               #checks for improper subsets

True

- improper subset: set that equals or has same elements as another set it is compared to
- proper subset: set that had elements in the other set but not all

- proper superset: the set on the right is a proper set of the one on the left
- improper superset: the set on the right is a improper set of the one on the left

In [113]:
#superset check:
{1, 3, 5} > {3, 5, 1}
#improper superset

False

In [114]:
{1, 3, 5, 7} > {3, 5, 1}
#proper superset

True

In [115]:
{1,3,5}.issuperset({3,5,1})

True

In [117]:
{1,3,5}.issuperset({3,5,1,7})

False

In [120]:
#self check 6.3.1, check if given string1 is a superset of string2

string1 = 'abc def hgi jkl mno'
string2 = 'hi mom'

set(string1).issuperset(string2)

#the set() methods can take any sequence and make it a set automatically!

True

In [121]:
#methods and operations for sets!

#set union operation:
{1,3,5} | {2,3,4}

{1, 2, 3, 4, 5}

In [123]:
#set union method call:
{1,3,5}.union([20,20,3,40,40])

{1, 3, 5, 20, 40}

In [125]:
#works with other mathematical set operations!

#set intersection operator:
{1,3,5} & {2,3,4}

{3}

In [126]:
#set intersection method:
{1,2,5}.intersection([1,2,2,3,3,4,4])

{1, 2}

In [127]:
#difference between two sets, those in left not in right:
{1,3,5} - {2,3,4}

{1, 5}

In [129]:
#difference method:
{1,3,5,7}.difference([2,2,3,3,4,4])

{1, 5, 7}

In [130]:
#symmetric difference, all values not in common
{1,3,5} ^ {2,3,4}

{1, 2, 4, 5}

In [131]:
#symmetric difference method:
{1,3,5,7}.symmetric_difference([2,2,3,3,4,4])

{1, 2, 4, 5, 7}

In [132]:
#is disjoint method, are two sets disjoint? Do they have common items?
{1,3,5}.isdisjoint({2,4,6})

True

In [133]:
#self check 6.3.2, use mathematical set operators ro combine both given sets and compute results

set1 = {10, 20 ,30}
set2 = {5, 10, 15, 20}

difference = set1.difference(set2)
print(difference)

symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

union = set1.union(set2)
print(union)

intersection = set1.intersection(set2)
print(intersection)

{30}
{5, 30, 15}
{20, 5, 10, 30, 15}
{10, 20}

### Mutable Set Operators

- |=  update
- &=  intersection_update
- -=  difference_update
- ^= symmetric_difference_update

- some mutable operations to change sets using other sets!
- variables that refer to existing sets (can be applied to existing sequences!)

In [134]:
numbers = {1, 3, 5}
numbers |= {2,3,4}
numbers

{1, 2, 3, 4, 5}

In [135]:
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [136]:
numbers.add(17)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [140]:
numbers.add(3)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [141]:
numbers.remove(3)
numbers

# will get key error if 3 isnt in set to be removed!

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [143]:
numbers.discard(3)
numbers

# discard is the same as remove but doesnt throw an exception if u already removed number!

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [144]:
numbers.pop()
numbers

{1, 2, 4, 5, 6, 7, 8, 9, 17}

In [145]:
numbers.clear()
numbers

set()

In [146]:
#simple set comprehension!

numbers = [1,2,2,3,4,5,6,6,7,8,9,10,10]
evens = {item for item in numbers if item % 2 == 0}
evens

{2, 4, 6, 8, 10}

### Dynamic Visualization

- static visualization showed simulation completion, only the output
- dynamic visualization updates live!
- Matplotlib FuncAnimation updates visuals dynamically
- FuncAnimation animates by fram, frame-by-frame animation
- more frames per second result in more smooth animation
- example with dice uses 33ms between frames (approx 30 FPS)

In [149]:
#Dynamic dice-rolling script!
"""Dynamically graphing frequencies if die rolls"""

from matplotlib import animation
import matplotlib.pyplot as plt
import random
import seaborn as sns
import sys

def update(frame_number, rolls, faces, frequencies):
    """Configures bar plot contents for each animation frame."""
    # roll die and update frequencies 
    for i in range(rolls):
        frequencies[random.randrange(1,7) - 1] += 1
        
    #reconfigure plot for updated die frequencies
    plt.cla()  #clear old contents of current figure
    axes = sns.barplot(faces, frequencies, palette = 'bright')  #new bars
    axes.set_title(f'Die Frequencies for {sum(frequencies):,} Rolls')
    axes.set(xlabel='Die Value', ylabel='Frequency')
    axes.set_ylim(top=max(frequencies) * 1.10)   #scale y-axis by 10%
    
    #display frequency & percentage above each patch (bar)
    for bar, frequency in zip(axes.patches, frequencies):
        text_x = bar.get_x() + bar.get_width() / 2.0
        text_y = bar.get_height()
        text = f'{frequency:,}\n{frequency / sum(frequencies):.3%}'
        axes.text(text_x, text_y, text, ha='center', va='bottom')
        
# read command-line arguments for number of frames and rolls per frame
number_of_frames = int(33)
rolls_per_frame = int(6)

sns.set_style('whitegrid')   #white grid background with gray grid lines
figure = plt.figure('Rolling a Six-Sided Die')   # Figure for animation
values = list(range(1, 7))     #die faces for display on x-axis
frequencies = [0] * 6          #six-element list of die frequencies

# configure and start animation that calls function update
die_animation = animation.FuncAnimation(
    figure, update, repeat=False, frames=number_of_frames, interval=33,
    fargs=(rolls_per_frame, values, frequencies))

plt.show() # display window