# Lesson 3! 

- control statements
- Python is a smaller language compared to other C languages
- fewer control statements
- if, if-else, if-elif-else, Augmented assignments, for, Sentinel-controlled iteration (while), Boolean operators (and, or, not), break and continue, functional style programming

In [1]:
grade = 85
if grade >= 60: 
    print('Passed')

Passed

In [6]:
grade = int(input('Enter grade: '))
if grade >= 60:
    print('passed')
    print('good job')

Enter grade:  65

passed
good job

In [7]:
# blocks are defined by indentation, if statement's block is made up by indentation
#without indentation you get a IndentationError
# anything non-zero is treated as True, False if 0

In [8]:
if 1:
    print('True')
if 0:
    print('False')

True

In [9]:
# non-empty string is considered True, empty string is considered False

if 'Hi':
    print('True')
if '':
    print('False')

True

In [10]:
 # Self-check 3.5

grade = 85
if grade >= 60:
    print('Passed')
grade = 55
if grade >= 60:
    print('Passed')

Passed

In [11]:
grade = 85

In [12]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')

Passed

In [13]:
grade = 55
if grade >= 60:
    print('Passed')
else:
    print('Failed')

Failed

In [15]:
if grade >= 60:
    result = 'Passed'
else:
    result = 'Failed'
print(result)

Failed

In [16]:
result = ('Passed' if grade >= 60 else 'Failed') #conditional expression example
print(result)

Failed

In [17]:
'Passed' if grade >= 60 else 'Failed'

'Failed'

In [20]:
grade = 77
if grade >= 80:
    print('Passed well')
elif grade >= 60:
    print('Passed')
else:
    print('Failed')

Passed

In [21]:
# self-check 3.6

grade = 80

if grade >= 90:
    print('A')
else:
    print('Not A or B')
elif grade >= 80:
    print('B')

SyntaxError: invalid syntax (Temp/ipykernel_2584/4272376689.py, line 9)

In [23]:
#Python only has For and While statements for loops

product = 3

while product <= 50:
    product *= product
    
product

81

In [24]:
# self-check 3.7     first power of 7 greater than 1000

product = 7

while product <= 1000:
    product *= 7
    
product

2401

In [26]:
# for loops iterate through a sequence

for character in 'Programming': #character is our target variable, each letter in string is assigned to target variable and we can use it
    print(character, end= ' ')  #end keyword appends its value to the end of the printed value

P r o g r a m m i n g

In [28]:
print(10, 20, 30, sep= ', ') #sep lets you define something to put inbetween arguments

10, 20, 30

In [31]:
total = 0

for number in [2, -3, 0, 17, 9]:      #all lists are in brackets []
    total += number
    
total

25

In [32]:
#seen so far 2 sequence types (strings and lists)
#tuples will be introduced later!

In [35]:
#counter-contolled loop (iteration) using sequences in Python

for counter in range(10):       #range, creates a sequence of integers up to, not including, given number
    print(counter, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [2]:
#self-check 3.8,       use range and for loop to calculate total from 0 to 1,000,000

total = 0

for num in range(1000001):   #off-by-one error, need to use 1000001 as it wont include 1000000 if u only put 1000000 in there
    total += num
    
total

# to restart kernal press 'esc' then 0 twice

500000500000

In [3]:
#Augmented assignments: +=, -=, *=, **=, /=, //=, %=

In [7]:
# self-check 3.9,     x with 12, square x's value

x = 12

x **= 2

x

144

In [11]:
# fig03_01.py example covered
# iterables are sequences, lists and strings are iterable
# python does not have ++ or --

In [13]:
average = 15 / 3 #python / always results in floating point, even with 2 ints provided
print(f'Class average is {average}')   #format string, introduced in Python 3.6

Class average is 5.0

In [17]:
#self-check 3.10, use f-strings to display number1 & number2 in '7 times 5 is 35'

number1 = 7
number2 = 5

print(f'{number1} times {number2} is { number1 * number2 }')
#f-strings always start with a f

7 times 5 is 35

In [18]:
#fig03_02.py example covered
#uses sentinel-controlled iteration for an unknown length of grades

In [20]:
average = 36 / 5
print(f'Average is {average:.2f}')

Average is 7.20

In [25]:
# sequence controlled iteration for specific number of iterations suing range with 1 argument/parameter
# 3 different versions of range (all with different # of paramters)

for number in range(5,10):     #range with 2 arguments, adds starting position
    print(number, end = ' ')

5 6 7 8 9

In [24]:
for number in range(2, 20, 2): # range with 3 arguments, adds 'step'
    print(number, end = ' ')

2 4 6 8 10 12 14 16 18

In [26]:
for number in range(20, 2, -2): # can step backwards!
    print(number, end = ' ')

20 18 16 14 12 10 8 6 4

In [32]:
#self-check 3.13

for number in range(10, 0, 2):    #output empty, range has no numbers!|
    print(number, end=' ')

In [33]:
#use for, range, print to print 99,88,77,66,55,44,33,22,11,0, seperate by 1 space

for num in range(99, -1, -11):
    print(num, end=' ')

99 88 77 66 55 44 33 22 11 0

In [31]:
#use for and range to sum even integers from 2 through 100 (includes 100)

total = 0

for num in range(100, -2, -2):
    total += num
    
total

2550

In [34]:
#introducing decimals! Floating point nums
#binary representation of floating point numbers arent 100% accurate, some floating point nums can be represented well but others cant
#library for precise decimal arithmetic! (Very helpful in money-related programs)

amount = 112.31
print(amount)

112.31

In [36]:
print(f'{amount:.20f}')  #in reality, floating point num is not precise!

112.31000000000000227374

In [38]:
# using the decimal library

from decimal import Decimal   #importing Decimal from decimal module (library)

principal = Decimal('1000.00') #converts string to decimal, use strings so we dont get memory in-precision
principal

Decimal('1000.00')

In [39]:
rate = Decimal('0.05')
rate

Decimal('0.05')

In [41]:
x = Decimal('10.5') #using Decimal constructor
y = Decimal('2')

x + y               #Python has operator-overloading, lets you create special functions for your new type. Can use + and - for new types!

Decimal('12.5')

In [42]:
x // y

Decimal('5')

In [44]:
x += y
x

Decimal('14.5')

In [53]:
#Compound Interest Problem
''' $1000 in savings, yielding 5% interest, calculate & display amount of money in account at end of each year for 10 years.
use a = p(1 + r)^n as your formula '''
''' p is original amount, n is the number of years, a is the amount on deposit at end of the nth year '''
#rate and principal defined above

for year in range(1, 11):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2}{amount:>10.2f}')           # >2 makes the value (year) right-aligns to a field of 2, so 1 gets placed to the right
                                                 # 10.2f displays 10 numbers to the right of decimal and 2 to the left of decimal
amount

 1   1050.00
 2   1102.50
 3   1157.62
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

Decimal('1628.8946267774414062500000')

In [59]:
#self-check 3.14, tax on bill is 6.25%, bill amount is 37.45, use Decimal to calculate bill total, print result 2 decimals to the right

bill = Decimal('37.45')
tax = Decimal('6.25')
tAmount = (bill * tax) / 100

print(f'bill: {bill} tax: {tax} total: {bill + tAmount:5.2f}')

bill: 37.45 tax: 6.25 total: 39.79

In [61]:
print(f"{Decimal('37.45') * Decimal('1.0625'):.2f}")    #one-line solution

39.79

In [63]:
#break and continue are like the other C languages

for num in range(100):
    if num == 10:
        break
    print(num, end=' ')
    
#break ends sequence once called

0 1 2 3 4 5 6 7 8 9

In [64]:
for num in range(10):
    if num == 5:
        continue
    print(num, end=' ')
    
#continue 'skips' current iteration in sequence

0 1 2 3 4 6 7 8 9

In [67]:
#boolean operators and, or, not

gender = 'Female'
age = 70

if gender == 'Female' and age >= 65:        #left condition evaluated first, if true it continues to the right
    print('Senior Female')

Senior Female

In [70]:
semester_average = 83    #multi-named variables, recommended to use _ between words
final_exam = 95

if semester_average >= 90 or final_exam >= 90:       #both have to be false for no-print
    print("Student gets and A")

Student gets and A

In [72]:
grade = 87

if not grade == -1:                     #flips condition as True or False
    print('The next grade is', grade)

The next grade is 87

In [74]:
#self-check 3.16, Use i=1, j=2, k=3, m=2 to evaluate many expressions:
    
i = 1
j = 2
k = 3
m = 2

In [75]:
(i >= 1) and (j < 4)

True

In [76]:
(m <= 99) and (k < m)

False

In [77]:
(j >= i) or (k == m)

True

In [78]:
(k + m < j) or (3 - j >= k)

False

In [79]:
not (k > m)

False

#### Intro to Data Science: Measure of Central Tendency

- Mean, Median, Mode
- Representation of 'central' value in a set of vlaues, value having soem sense to the others

- Mean: average in set
- Median: middle fo set
- Mode: most frequent value

In [84]:
grades = [85, 93, 45, 89, 85]    #square bracket delimited set of values

sum(grades) / len(grades)        #sum() sums an entire sequence, len() returns length of sequence 

#example of functional style programming, sum & len are reductions and return single values each
#sum uses internal iteration, it iterates on its own

79.4

In [86]:
import statistics           #stats library!

In [87]:
statistics.mean(grades)

79.4

In [90]:
statistics.median(grades)   #orders list first, then gets the median

85

In [89]:
statistics.mode(grades)

85

In [91]:
sorted(grades)  #built-in sorted function!

[45, 85, 85, 89, 93]

In [92]:
grades

[85, 93, 45, 89, 85]

In [97]:
#self-check 3.17, make list of 47,95,88,73,88,84 and use stats library to get mean, median, and mode
#library already imported above!
numbers = [47,95,88,73,88,84]
print(statistics.mean(numbers))
print(statistics.median(numbers)) #we have an even amount of numbers so it gets the 2 middle numbers and averages them for the median
print(statistics.mode(numbers))

79.16666666666667
86.0
88

In [96]:
sorted(numbers)

[47, 73, 84, 88, 88, 95]

In [98]:
#you get a statistics error if the mode cant return a most-used value (if we have tied numbers for most0used)
#makes mode a not-so-great stat to use for data info.